<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageServer" type="Qct.Infrastructure.MessageServer.Implementations.MQMConfigurationSection,Qct.Infrastructure.MessageServer"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Config/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <MessageServer StorageConnectionString="mongodb://localhost:27017/mqmdb" MessageQueueConnectionString="localhost:6379,password=pharos@2016"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
